#expe {
    color: red;
    font-size: 20px;

}
#comp {
    font-size: 1em;
}
#form {
    font-size: 1rem;
}
header {
    margin-inside: 12px;

}
footer {
    margin-outside: 15px;

    border: aquamarine;
}
 {
    text-align: center;
    background-position:bottom ;

    max-font-size: 800px ;

}
.img{
    background-position-x:center ;
    background-position-y:top ;
    box-shadow: blue;
    margin: 45%;

}
a:hover {
    background-color: darkcyan;


}

li{
    margin-right: 30%;
    margin-left: 40%;
    padding-right: 100px;

}
.background{
    background-position-x: center;
    background-position-y: bottom ;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgHoEcKWl66LlYebHyM8aQ57-E6lghJniYIYOIRMhb0Q&s");
box-shadow: 10px 10px 10px  red;
    margin: 43%;
}

p , h1 , h2 {
    text-align: center;
}
@font-face {
        font-family : Agency FB, Arial,sans-serif;

}
.bigfoot {
    text-align: center;
}
li p {
    text-align: left;
}